body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.bg {
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

#bgGif {
	height: 100%;
}

.signin {
	top: 1vh;
	right: 10vh;
	width: 20vw;
	height: 7vh;
	position: absolute;
}

#google-pic {
	top: 1vh;
	right: 1.5vh;
	height: 7vh;
	border-radius: 50%;
	position: absolute;
}

#google-displayname {
	top: 1vh;
	left: 30vw;
	width: 40vw;
	height: 8vh;
}


#signinButton {
	height: 100%;
	padding: 0;
	border: none;
	background: none;
}

.welcome {
	top: 1%;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	text-align: center;
}

#welcomeFont {
	font-size: 5vh;
	font-family: 'Orbitron', sans-serif;
	margin: 0;
}

.time {
	top: 10vh;
	left: 20vw;
	width: 60vw;
	height: 15vh;
	position: absolute;

	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 5vh;
}

#ti {
	margin: 0;
}

.date {
	top: 25vh;
	left: 20vw;
	width: 60vw;
	height: 10vh;
	position: absolute;

	text-align: center;

}

#da {
	font-size: 5vh;
	font-family: 'Orbitron', sans-serif;
}

#cover {
	top: 38vh;
	left: 0;
	width: 100%;
	height: 20vh;
	position: absolute;
	background-color: rgb(250, 209, 105);
}

.emotion {
	top: 35vh;
	left: 40vw;
	width: 20vw;
	height: 25vh;
	position: absolute;
	text-align: center;
}

#emPic {
	margin-top: 5%;
	height: 90%;
	transition: transform .2s; /* Animation */
	opacity: 0.8;
}

#emPic:hover {
	opacity: 1.0;
	transform: scale(1.10);
}

.trend {
	top: 60vh;
	left: 42vw;
	width: 16vw;
	height: 20vh;
	position: absolute;
	text-align: center;
}

#trendPic {
	margin-top: 5%;
	height: 90%;
	transition: transform .2s; /* Animation */
}

#trendPic:hover {
	transform: scale(1.10);
}

.yesterday {
	top: 40vh;
	left: 1vw;
	width: 30vw;
	height: 10vh;
	position: absolute;
}

#prev {
	width: 4vw;
	height: 10vh;
	float: left;
}

#prevPic {
	margin-top: 25%;
	height: 50%;
  transform: scaleX(-1);
  opacity: 0.5;
}

#prevPic:hover {
	margin-top: 10%;
	height: 80%;
	opacity: 1;
}

#prevText {
	width: 26vw;
	height: 10vh;
	float: left;
}

#prevFont {
	margin: 0;
	line-height: 10vh;
	font-size: 3vh;
	font-family: 'Orbitron', sans-serif;
}

.tommorrow {
	top: 40vh;
	right: 1vw;
	width: 30vw;
	height: 10vh;
	position: absolute;
}

#next {
	width: 4vw;
	height: 10vh;
	float: right;
}

#nextText {
	right: 0;
	height: 10vh;
	float: right;
}

#nextFont {
	margin: 0;
	line-height: 10vh;
	font-size: 3vh;
	font-family: 'Orbitron', sans-serif;
}

#nextPic {
	margin-top: 25%;
	height: 50%;
	float: right;
	opacity: 0.5;
}

#nextPic:hover {
	margin-top: 10%;
	height: 80%;
	opacity: 1;
}

.tasks {
	top: 85vh;
	left: 40vw;
	width: 20vw;
	height: 15vh;
	position: absolute;
	text-align: center;
}

#tasksText {
	width: 100%;
	height: 33%;
}

#tasksFont {
	margin-top: 0;
	font-size: 3vh;
	font-family: 'Orbitron', sans-serif;
}

#tasksDropdownPic {
	height: 6vh;
}

#dropdownPic {
    transform: rotate(90deg);
    height: 100%;
    opacity: 0.5;
}

#dropdownPic:hover {
	height: 150%;
	opacity: 1;
}

.recommend {
	bottom: 0;
	left: 10%;
	width: 80%;
	height: 10%;
	position: absolute;
	background-color: blue;
}

.tip {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 30%;
}

.tipFont {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3vh;
	font-family: 'Orbitron', sans-serif;
	color: white;
}